<section id="home" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center">
        <div class="lead">
          JavaScript Implementation of Microsoft Excel Formula Functions<br>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="filters text-center">
          <li class="filter active">all</li>
          <li class="filter">import</li>
          <li class="filter">discover</li>
          <li class="filter">visualize</li>
        </ul>
      </div>
    </div>
  </div>
</section>